.viTakker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    border: 1px solid #d0000b;
    border-radius: 10px;
    margin: 3rem auto;
    padding: 1rem;


    h4{
        color: #d0000b;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1rem;
    }

    p{

    }
}